body{
    background-image: url(pictures/bbg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}

.container{
    margin-top: 250px;
   
     
}
.col-md-4{
   
    
    margin-left: 100px;
    
   
}
.inner{
    overflow: hidden;
}

.inner img{
    transition: all 1.5s ease;
}

.inner:hover img{
    transform: scale(1.5);
}

.about{
    color: #a87a41;
    font-size: 50px;
    padding-top: 200px;
    padding-left: 400px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

